

.introduction{
    animation:60s slider infinite;
    background-repeat: no-repeat;
    width: 100%;

    background-size: cover;
}
h1{
    margin-top: 0%;
}
.outer{
    background-color: hsla(144, 85%, 47%, 0.192);
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: end;
    position: relative;


}
.details{
    height: fit-content;
}
.intro-text{
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-family:Arial, sans-serif;
    margin: 8px;
    font-size: 15px;
    width: auto;

}
.adv{
    color:rgb(249, 0, 0);
    font-family: Impact;
    transition: all;
    font-size: 200px;
}
.image{
   position: absolute;
}
@media screen and (max-width: 900px){
    .intro-text{
        width: auto;
    }
    
}
.slider_image{
   overflow: hidden;


}
.slider_image .trans{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
.slider_image .trans img{
    width: 20%;
    float: left;
    height: 550px;

}
.intro_content{
    background-color:rgba(16, 0, 30, 0.5);
    position: absolute;
    width: 100%;
    margin: 0;
    left:0;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
   color: azure;
   font-size: large;
   padding: 8px;
   width: 700px;

}
@keyframes slider{
         0%{
            left:0;
         }
         20%{
            left:0;
         }
         25%{
            left:-100%
         }
         45%{
            left:-100%
         }
         50%{
            left:-200%
         }
         70%{
            left:-200%
         }
         75%{
            left:-300%
         }
         95%{
            left:-300%
         }
         100%{
            left:-400%
         } 

}
.movie_introduction{
   background-image: url('img/netflix.jpg');
   height: 100vh;
}
.plumbing_content_intro{
   background-image: url('img/niko_cover.png');
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
    
}
.video_details{
   color:brown;
   font-size: 11px;
   word-spacing: 1px;

}
@keyframes change{
   0%{
   background-image: url(img/arch4.jpeg)
}
50%{
   background-image: url(img/arch3.jpeg)
}
100%{
   background-image: url(img/arch4.jpeg)
}

}
.child_intro{
   background-image: url('img/alex1.jpg');
   height: fit-content;
   background-repeat: no-repeat;
   background-size: cover
}
