

.introduction{
    animation:60s slider infinite;
    background-repeat: no-repeat;
    width: 100%;

    background-size: cover;
}
h1{
    margin-top: 0%;
}
.outer{
    background-color: hsla(144, 85%, 47%, 0.192);
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: end;
    position: relative;


}
.details{
    height: fit-content;
}
@keyframes slider{
0%,100%{
background-image:url(img/arch2.jpg)

};

25%{
background-image:url(img/lebara.jpg)

}
50%{
background-image:url(img/img18.png)

}
75%{
background-image:url(img/toilet.jpg)

}
}

.intro-text{
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-family:Arial, sans-serif;
    margin: 8px;
    font-size: 15px;
    width: auto;

}
.adv{
    color:rgb(249, 0, 0);
    font-family: Impact;
    transition: all;
    font-size: 200px;
}
.image{
   position: absolute;
}
@media screen and (max-width: 900px){
    .intro-text{
        width: auto;
    }
    
}
.slider_image{
   overflow: hidden;


}
.slider_image .trans{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
.slider_image .trans img{
    width: 20%;
    float: left;
    height: 400px;

}
.intro_content{
    background-color:rgba(0, 11, 6, 0.5);
    position: absolute;
    width: 100%;
    margin: 0;
    left:0;
    height: 400px;
    display: flex;
    align-items: end;
}
.content{
   color: azure;
   font-size: large;
   padding: 8px;
}
@keyframes slider{
         0%{
            left:0;
         }
         20%{
            left:0;
         }
         25%{
            left:-100%
         }
         45%{
            left:-100%
         }
         50%{
            left:-200%
         }
         70%{
            left:-200%
         }
         75%{
            left:-300%
         }
         95%{
            left:-300%
         }
         100%{
            left:-400%
         } 

}
.movie_introduction{
   background-image: url('img/netflix.jpg');
   height: fit-content;
}
.movie_intro_content{
   height: 400px;
   background-color: rgba(7, 25, 79, 0.5);
   display: flex;
   align-items: center;
}
.movie_intro_text{
   color: rgb(82, 169, 169);
   width: 100%;
display: flex;
justify-content: center;
font-size: larger;
flex-direction: column;
text-align: center;
}
.movie_container{
   display: grid;
   grid-template-columns:1fr 1fr 1fr 1fr;
   row-gap: 20px;
   column-gap: 20px;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
   width: 100%;
   background-color: red;
   overflow: hidden;


}
.movie_container_images{
   background-color: blue;
   border-radius: 10px;
   height: fit-content;
   


}
.movie_image{
}
.movie_intro_photo{
   height: 200px;
   width: 300px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.h1_movies{
   font-size: 15px;
   color: aliceblue;
}
.movie_photo_info {
   margin: 7px;
}
#check{
   display: none;
}
#check1{
   display: none;
}
#check2{
   display: none;
}#check3{
   display: none;
}#check4{
   display: none;
}
#check5{
   display: none;
}
.more_readings{
   display: none;
   transition: 05s linear;
}
label{
   display:inline-block;
   margin-top: 15px;
   color:yellowgreen;
   text-decoration: underline;
   cursor: pointer;

}
#check:checked ~ .more_readings{
   display: block;

}
#check:checked ~ label{
   visibility: hidden;
}
#check:checked ~ label:after{
content: 'show less';
display: block;
visibility: visible;

}
#check1:checked ~ .more_readings{
   display: block;

}
#check1:checked ~ label{
   visibility: hidden;
}
#check1:checked ~ label:after{
content: 'show less';
display: block;
visibility: visible;

}
#check2:checked ~ .more_readings{
   display: block;

}
#check2:checked ~ label{
   visibility: hidden;
}
#check2:checked ~ label:after{
content: 'show less';
display: block;
visibility: visible;

}
#check3:checked ~ .more_readings{
   display: block;

}
#check3:checked ~ label{
   visibility: hidden;
}
#check3:checked ~ label:after{
content: 'show less';
display: block;
visibility: visible;

}
#check4:checked ~ .more_readings{
   display: block;

}
#check4:checked ~ label{
   visibility: hidden;
}
#check4:checked ~ label:after{
content: 'show less';
display: block;
visibility: visible;

}
#check5:checked ~ .more_readings{
   display: block;

}
#check5:checked ~ label{
   visibility: hidden;
}
#check5:checked ~ label:after{
content: 'show less';
display: block;
visibility: visible;

}
.video_details{
   color:brown;
   font-size: 11px;
   word-spacing: 1px;

}
