footer{
    position: absolute;
    height:fit-content;
    width: 100%;
    bottom:0px;
}
.down_part{
    width: 100%;
    float: left;
    flex-direction:row;
    align-items: end;
    background-color: rgb(22, 22, 22);
    height:fit-content;
    display: flex;
    justify-content: space-between;
}
.social_media_apps{
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: nowrap;
}
.icon{
    height: 25px;
}
ul{
    padding: 0px;
}
ul li{
    float: left;
    list-style: none;
    margin: 8px;

}
.copy_rights{
    display:flex;
    float: left;
    align-items: end;
    color:white;

}
.footer_company_logo{
    height: 28px;
}
.copamy_infomation{
    color: aliceblue;
    font-size: 10px;
    padding: 3px;
}
.app{
    display: flex;
    flex-wrap: nowrap;
}
.closing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    height: 300px;
    top:100px
}
.closing_info{
    background-color: rgb(30, 30, 30);
    padding-top: 40px;
    padding-left: 10px;
}
.About_xyloxcom span{
    font-size: 30px;
    color: antiquewhite;
    font-family: 'Noto Serif Ottoman Siyaq', serif;
    font-weight: 400;
}
.About_xyloxcom ol{
    margin: 0px;
    padding: 0px;
    display: block;
}
.About_xyloxcom ol li{
    list-style: none;
    font-size:small;
    color: beige;
    line-height: 20px;
    white-space: nowrap;
}
a{
    text-decoration:none ;
}
a:hover{
    text-decoration:underline ;
}
.About_xyloxcom ol li:hover{
    color: yellowgreen;
    text-decoration: underline;
}
@media screen and (max-width:900px){

    .copy_rights{
        font-size: 10px;
    }
    .About_xyloxcom span{
        max-width:0px;
        font-size: 18px;
        line-height: 20px;
    }
    .About_xyloxcom ol li{
        font-size: 15px;
        padding: 0%;
        font-weight: lighter;
    }
}
