.Side-Nav-bar{
    position: fixed;
    top: 250px;
    overflow: hidden;
    z-index: 200;
    background-color: blueviolet;
    height: 50%;
    width: 200px;
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px;
    margin-bottom: 200px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.Side-Nav-bar a:hover{
    color: white;
    text-decoration: none;
}
.sidebar1,.sidebar2,.sidebar3,.sidebar4,.sidebar5,.sidebar6,.sidebar7,.sidebar8{
    background-color: rgb(241, 150, 31);
    width: fit-content;
    padding: 6px;
    border-radius: 20px;
}
.sidebar1,.sidebar2,.sidebar3,.sidebar4,.sidebar5,.sidebar6,.sidebar7,.sidebar8 a:hover{
    text-decoration: none;
}
.graphis-content{
 background-color: #7d7d7d;
    display:flex;
    flex-wrap: wrap;
    justify-content: right;

}
.graphic_container{
    background-color: rgb(73, 75, 73);
    width: fit-content;
    margin: 3px;
    position: relative;
    opacity: 1;
    display: block;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-bottom: 0%;

}
.graphic_container:hover{
    opacity: 0.8;
}
.school-budge{
    width: 20vw;
    height: 100%;
}
.graphic-school-budge-image-text{
    background-color: aliceblue;
    padding: 20px;
}
.graphic-school-budge-image-text li{
    list-style: none;
}
.hover-icon-image{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.hover-icon-image:hover{
    opacity: 3;
}
.graphic-image-icon{
      width: 40px;
      height: 40px;
      background-color: rgb(0, 0, 0);
      cursor: pointer;
}