
.container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   row-gap: 20px;
   column-gap: 5px;
   overflow: hidden;
}
.movie_intro_content{
    height:100vh;
    background-color: rgba(19, 0, 44, 0.8);
    display: flex;
    align-items: center;
 }
 .movie_intro_text{
    color: rgb(82, 169, 169);
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: larger;
   flex-direction: column; 
   padding-left: 80px;
 }
 .movie_intro_text h1{
   font-size: 4vw;
 }
 .movie_intro_text span{
   font-size: 30px;
   color: brown;
 }
 @media screen and (max-width:600px){
   .movie_intro_text h1{
      font-size: 8vw;
}
}
 .movie_container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    background-color: red;
    overflow: hidden;
 
 
 }
 .movie_container_images{
    background-color: blue;
    border-radius: 10px;
    height: fit-content;
    
 
 
 }
 .time{
  /* background-color: rgb(230, 0, 255);*/
    color: white;
    position: absolute;
    height: fit-content;

}
 .play_button{
   height: 50px;
 }
 @media screen and (max-width:600px){
   .play_button{
      height: 30px;
    }
    .time{
     padding-top: 20px;
   
   }
 }
 /*.movie_image{
 }*/
 .movie_intro_photo{
    height: 200px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }
 .h1_movies{
    font-size: 15px;
    color: aliceblue;
 }
 .movie_photo_info {
    margin: 7px;
 }
 .video_details P{
   font-size: 1vw;
 }
 #check{
    display: none;
 }
 #check1{
    display: none;
 }
 #check2{
    display: none;
 }#check3{
    display: none;
 }#check4{
    display: none;
 }
 #check5{
    display: none;
 }
 #check6{
   display: none;
 }
 .more_readings{
    display: none;
    transition: 05s linear;
 }
 label{
    display:inline-block;
    margin-top: 15px;
    text-decoration: none;
    cursor: pointer;
 
 }
 #check:checked ~ .more_readings{
    display: block;
 
 }
 #check:checked ~ label{
    visibility: hidden;
 }
 #check:checked ~ label:after{
 content: 'show less';
 display: block;
 visibility: visible;
 
 }
 #check1:checked ~ .more_readings{
    display: block;
 
 }
 #check1:checked ~ label{
    visibility: hidden;
 }
 #check1:checked ~ label:after{
 content: 'show less';
 display: block;
 visibility: visible;
 
 }
 #check2:checked ~ .more_readings{
    display: block;
 
 }
 #check2:checked ~ label{
    visibility: hidden;
 }
 #check2:checked ~ label:after{
 content: 'show less';
 display: block;
 visibility: visible;
 
 }
 #check3:checked ~ .more_readings{
    display: block;
 
 }
 #check3:checked ~ label{
    visibility: hidden;
 }
 #check3:checked ~ label:after{
 content: 'show less';
 display: block;
 visibility: visible;
 
 }
 #check4:checked ~ .more_readings{
    display: block;
 
 }
 #check4:checked ~ label{
    visibility: hidden;
 }
 #check4:checked ~ label:after{
 content: 'show less';
 display: block;
 visibility: visible;
 }
 #check5:checked ~ .more_readings{
    display: block;
 
 }
 #check5:checked ~ label{
    visibility: hidden;
 }
 #check5:checked ~ label:after{
 content: 'show less';
 display: block;
 visibility: visible;
 
 }
 #check6:checked ~ .more_readings{
   display: block;

}
#check6:checked ~ label{
    visibility: hidden;
}
#check6:checked ~ label:after{
content: 'show less';
display: block;
visibility: visible;

}
