.plumbing_inntroduction{
    position: relative;
}
.plumbing_content_intro{
    position: absolut;
}
.plumbing_introduction_cover{
    width: 100%;
    height: auto;
    background-color: rgba(28, 63, 72, 0.5);
}
.plumbing_inntroduction_cover_content{
    margin-top: 20px;
    margin-left: 29px;
}
.plumbing_inntroduction_cover_text h1{
    font-size:100px; margin-bottom: 20px;font-family: 'Agdasima', sans-serif;line-height: 70px;color: rgb(255, 255, 255); text-align: center;
}
.plumbing_inntroduction_cover_text h2{
    font-size:40px; margin-bottom: 30px;font-family: 'Agdasima', sans-serif;color: rgb(255, 255, 255); 

}
.plumbers_logo{
    height: 150px;
    border-radius: 75px;
    margin: 20px;
}
.hd1_plumbing{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hd2_plumbing{
    margin: 0px;
}
.service_request,.contact_button{
    height: 70px;
    width: 250px;
    border-radius: 125px;
    color: white;
    font-size: 15px;
    font-family: 'Noto Serif Ottoman Siyaq', serif;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
}
.service_request{
    background-color: rgb(14, 2, 255);
    border-style: solid;
    border-color: rgb(14, 2, 255);
}
.service_request:hover{
    background-color: rgb(255, 255, 255);
    color:   rgb(14, 2, 255);
    border-style: solid;
    border-color:  rgb(14, 2, 255);
}
.contact_button{
    background-color: transparent;
    border-style: solid;
    border-color: white;
}
.contact_button:hover{
    border-style: solid;
    border-color: rgb(14, 2, 255);
    background-color:   rgb(14, 2, 255);
}
.introduction_main_content{
    text-align: center;
    color: white;
}
.plumbing_content{
    display:flex;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
    width: fit-content;
    grid-column: 40px;
}
.plumbing_photo{
    max-width: 100%;
    width: 600px; 
    height: 300px;
}
.plumbing_content_info{
    color: white;
    position: relative;

}
.plumbing_photo_text{
    width: auto;
    background-color: rgba(0, 50, 91, 0.7);
    position: absolute;
    bottom:0px;
    height: 150px;
}
.plumbing_photo_text p{
    font-size: 20px;
}
.company_image{
    width: 100%;
}
    span{
        color: aliceblue;
    }
    .company_over_view h1,h2{
        color: antiquewhite;
        text-align: center;

    }

    @media (max-width: 900px){
        .plumbing_inntroduction_cover_text h1{
            font-size: 50px;
        }
        .plumbing_inntroduction_cover_text h2{
            font-size: 30px;
        }
        /*.plumbing_photo{
            height: 300px;
            width: 400px;*/
        }
