.video-title{
    margin-top: 0;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
 }
.img{
   width: 100%;
   height: 50%;
} 
 .img2{
   height: 180px;
   width: 100%;

}
.img1 , .img3,.img0{
   height: 180px;
   width: 100%;

}  
.video-author,
.video-stat{
    font-size: 12px;
    color:rgb(96,96,96);
}

.video-author{
   margin-bottom: 4px;
   margin-left: 2px;
}

.video-preview{
   width:100%;
}

.photo1{
    width: 50px;
    background-color:transparent
}

.video-info{
    /*background-color:green;*/
}

.photo11,.photo{
    width: 36px;
    border-radius: 50px;
}

.imgg{
    margin-bottom: px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
@media (max-width:600px) {
    .imgg{
        top:0px;
    }
       
}

.Download{
    color:red;
   border-radius: 50px;
   border:none;
   text-decoration: none;
   background-color: blue;
   margin-left: 250px;
   width: 200px;
}

.video-grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.whatsapp{
    display: flex;
    position:fixed;
    bottom: 30px;
    left:auto;
    right: 0px;
    flex-direction: row;
    justify-content:end;
    z-index: 100;
   
}
.what{
   height: 80px;

}
.content2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* background-color:	rgba(0, 0, 47,0.3); */
    justify-content: space-evenly;
}
.content2-list{
    margin: 30px;;
    padding: 20px;
    height: 200px;
    width:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid gray;
    background: rgba(255, 75, 255, 0.1);
    box-shadow: 0 8px 40px 0 rgba(45, 57, 231, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.content2-list:hover{
    transform: scale(1.05);
}h3{
    color:white;
    text-align: center;
}
.title{
    color:white;
    font-weight: 600;
    font-size: 40px;;
    margin:50px 0px;
    text-align: center;
    text-transform: uppercase;
    
}
